#container{
    width: 1000px;
    margin: 0 auto;
}

#score p, #score form{
    display: inline;
}

#locations{
    display: inline-block;
}
.location{
    display: inline-block;
    width: 200px;
    text-align: center;
    border: 2px solid black;
    margin-left: 33px;
    margin-top: 30px;
    padding-bottom: 30px;
}

#activities{
    height: 320px;
    width: 920px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 20px;
}

.lost{
    color: red;
}

.won{
    color: green;
}