<html>
	<head>
		<title></title>
	</head>
	<body>
		{% if all == True %}
	        <img src="{{ url_for('static', filename='img/donatello.jpg') }}">
	        <img src="{{ url_for('static', filename='img/leonardo.jpg') }}">
	        <img src="{{ url_for('static', filename='img/michelangelo.jpg') }}">
	        <img src="{{ url_for('static', filename='img/raphael.jpg') }}">
    	{% endif %}
    	{% if all == False %}
    		{% if color == 'purple' %}
    			<img src="{{ url_for('static', filename='img/donatello.jpg') }}">
    		{% elif color == 'blue' %}
    			<img src="{{ url_for('static', filename='img/leonardo.jpg') }}">
    		{% elif color == 'orange' %}
    			<img src="{{ url_for('static', filename='img/michelangelo.jpg') }}">
    		{% elif color == 'red' %}
    			<img src="{{ url_for('static', filename='img/raphael.jpg') }}">
    		{% else %}
    			<img src="{{ url_for('static', filename='img/notapril.jpg') }}">
    		{% endif %}
    	{% endif %}
	</body>
</html>