<html>
<head>
	<title>Great Number Game</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<h1>The Great Number Game!</h1>
	<p>I am thinking of a number 1 - 100!</p>
	{% with messages = get_flashed_messages() %}
   		{% if messages %}
        	{% for message in messages %}
            	{% if message =='1'%}
                <div class='greenContainer'>
                    <span class='greenText'>
                        {{ number }} was the number!
	                </span>
	                <p>
		                <form class="" action="/new" method="post">
		                    <input type = "submit" value="Play Again?">
		                </form>
	                </p>
                </div>
	            {%elif message=='2'%}
	                <div class='redContainer'>
	                    <span class='redText'>Too Low</span>
	                </div>
	            {%elif message=='3'%}
	                <div class='redContainer'>
	                    <span class='redText'>Too High</span>
	                </div>
	        	{%endif%}
        	{% endfor %}
   		{% endif %}
  	{% endwith %}
	<form action='/guessed' method='post'>
		<input type='number' name='guess_number'>
		<input type='submit' value='Submit'>
	</form>

</body>
</html>