  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title></title>
        {% load static %}
      <!-- The line above tells Django to be ready to listen for static files -->
      <link rel="stylesheet" href="{% static 'random_word_app/css/random_word.css' %}" media="screen" title="no title"  charset="utf-8">
      <!-- Put the static files in the static folder inside your app.  Django collects files within all static folders and puts them within a single folder -->    
      </head>
    <body>
        <h1>{{random}}</h1>
        <h3>{{request.session.total}}</h3>
        <form action='/'>
          {% csrf_token %}
          <input type='submit' value='Generate'>
        </form>
        <form action='/clear'>
          {% csrf_token %}
          <input type='submit' value="Restart">
        </form>
    </body>
  </html>