<html>
	<head>
		<title>Dojo Survey</title>
	</head>
	<body>
		<form action="{{ url_for('results') }}" method="post">
			Your Name: <input type='text' name='name'><br>
			Dojo Location: <select name='location'>
								<option value='San Jose'>San Jose</option>
								<option value='Seattle'>Seattle</option>
								<option value='Chicago'>Chicago</option>
							</select></br>
			Favorite Language:	<select name='language'>
									<option value='JavaScript'>JavaScript</option>
									<option value='Python'>Python</option>
									<option value='Ruby on Rails'>Ruby on Rails</option>
								</select></br>

			Comment (optional):
				<input type='textarea' name='comments'>		
			</br>
			<input type='submit' value='Submit'>
		</form>
	</body>
</html>